.input-group {
	input.form-control.file_name {
		padding: 4px 12px;
		height: 32px;
	}
}

.form-group {
	.nude-input {
		padding: 6px 12px;
  	height: auto;
  	overflow-wrap: break-word;
  	word-wrap: break-word;
  	word-break: break-all;
  	word-break: break-word;
  	hyphens: auto;
	}
}

input, textarea {
	&.transparent-input {
		background-color:transparent !important;
		border:none !important;
	}
}
